<div class="main">
  <p class="login" align="center">ログイン</p>
  <%= form_tag("/signup", class: "login") do %>
           <input class="un" type = "text" align="center" placeholder="ニックネーム" name="email" value="<%= @email %>">
           <input class="pass" type="password" align="center" placeholder="パスワード" name="password" value="<%= @password %>">
           <input class="submit" type="submit" value="新規作成">
           <p><%= link_to 'ログイン', login_path, class:"register" %></p>
   <% end %>
</div>
