// Place all the styles related to the chart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title{
  text-align: center;
  margin: 20px;
}

.limit_date_status{
  margin-left: 20%;
  text-align: center;
  width: 60%;
  margin-top: 50px;
}

.state_status{
  margin-top: 50px;
  text-align: center;
}
