// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: #f0f8ff;
}

.task_recode{
  width: 100%;
  background: #7fffbf;
}

.task_name{
  width: 40%;
  margin-right: 100px
}

.limit_date{
  width: 50%;
  margin-right: 100px
}

.state{
  width: 40%;
  margin-right: 100px
}

.all_tasks {width: 300px;
  height: 29px;
  padding-left: 40%;
  margin: 5%;
}

.edit_button {
  width: 50px;
  height: 50px;
  background-color: #ffff9e;
  font-size: 15px;
  padding: 5px}
  .edit_link{
    padding: 5px;
  }

  .edit_button:hover{
    transition: 0.3s; /*変化する秒数*/
    transform: translateY(0.1875em); /*縦方向に移動する*/
    box-shadow:none; /*影を消す*/
}



.delete_button {
  width: 50px;
  height: 50px;
  background-color: #ff7f7f;
  font-size: 15px;
  padding: 5px}

  .delete_button:hover{
    transition: 0.3s; /*変化する秒数*/
    transform: translateY(0.1875em); /*縦方向に移動する*/
    box-shadow:none; /*影を消す*/
}

.detail_button {
  width: 50px;
  height: 50px;
  background-color: 	#FF8856;
  font-size: 15px;
  padding: 5px}

  .detail_button:hover{
    transition: 0.3s; /*変化する秒数*/
    transform: translateY(0.1875em); /*縦方向に移動する*/
    box-shadow:none; /*影を消す*/
}

  .tran_b{
    width: 50px;
    height: 50px;
    background-color: #ff7f7f;
    font-size: 15px;
    padding: 5px
  }

  .tran_b:hover{
    transition: 0.3s; /*変化する秒数*/
    transform: translateY(0.1875em); /*縦方向に移動する*/
    box-shadow:none; /*影を消す*/
}

  .delete_link{
    padding: 5px
  }

.table{
  width: 100%;
}

.new_task_button{
  width: 100px;
  height: 50px;
  background-color: #89ff89;
}

.new_task_button:hover{
  transition: 0.3s; /*変化する秒数*/
  transform: translateY(0.1875em); /*縦方向に移動する*/
  box-shadow:none; /*影を消す*/
}

.logout_button{
  width: 100px;
  height: 50px;
  background-color: red;
}
