// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//new
.new_task{
  margin: 0%,30%,0%,30%;
}
.label{
  text-align: center;
  margin: 10px;
  font-size: 30px;
}

.field{
  text-align: center;
}

input[type="text"] {
        width: 60%;
        height: 120px;
    }

input[type="date"] {
        width: 60%;
        height: 120px;
    }
